
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://admin.kiracelektrik.com.tr/files/uploads/bayi/hakkimizda.jpg">
                <div class="card-body">
                    <h3 class="card-title mt-0">Kıraç Elektrik Bayim</h3>
                    <p class="card-text font-size-17">
                        Kıraç Elektrik 1982 yılında ilk olarak Bilecik Bozüyük’te Emek Elektrik olarak kurulmuş dört yıl aradan sonra 1986’da Eskişehir’de Kıraç Elektrik İnşaat Sanayi ve Ticaret Ltd.Şti. olarak sektördeki yeni adıyla faaliyet göstermeye başlamış ve ödenmiş sermayesi 7.500.000 TL ile grup bünyesindeki diğer kurumlar arasında lider konumundadır.
                    </p>
                    <p class="card-text font-size-17">
                        Kıraç Elektrik Dünya da ve Türkiye’de konusunda öncü markalar ile ilerlediği yolda her geçen gün güç ve istikrarını koruyarak bayiliğini yaptığı her markada Türkiye genelinde ilk sıralar da yer almaktadır.
                    </p>
                    <p class="card-text font-size-17">
                        Geniş ürün yelpazesi ve dağıtım ağı ile kusursuz hizmet politikasını ilke edinen Kıraç Elektrik kurulduğu günden bu yana Türkiye ve Dünya da kaliteli ve zamanında hizmetin öncüsü olmuş yaklaşık 20.000 m2 kapalı, 10.000 m2 açık olmak üzere depo stok alanı ile Türkiye’nin en büyük toptan elektrik malzeme satıcıları arasında yerini korumaktadır.
                    </p>
                    <p class="card-text font-size-17">
                        Kıraç Elektrik Eskişehir’de kendi bölgesine sağladığı istihdamın yanı sıra Türkiye’de İstanbul Perpa ve Bursa Ataevlerde satış ofisleri ile Ankara, Adana ve İzmir’de görev yapan toplamda 40 kişilik profesyonel satış kadrosu ile müşteri memnuniyetini en üst düzeyde tutmayı amaç edinmiştir.
                    </p>
                    <p class="card-text font-size-17">
                        Kıraç Elektrik 2015 yılının başında grup şirketi olan Kıraç Otomasyondan devraldığı pano ve elektromontaj konusunda kendini her geçen gün ön plana çıkarabilmiş Siemens, Schneider ve Legrand tip testli pano üretimi sertifikası almıştır. SIEMENS SIVACON partnerliği ile de kısa bir süre içerisinde bir çok projeye imza atmıştır.
                    </p>
                    <p class="card-text font-size-17">
                        Faaliyet gösterdiğimiz her alanda yurt içi ve yurt dışı pazarlarda kaliteli ve güvenin ön planda olduğu hizmeti sunmak.
                    </p>
                    <p class="card-text font-size-17">
                        Çalıştığımız ve iletişimde bulunduğumuz tüm iş ortaklarımız tarafından doğru, güvenilir, istikrarlı ve sevgiyle anılan bir kurum olmak vizyonumuzdur.
                    </p>
                    <p class="card-text font-size-17">
                        Yasalara, etik ve ahlâki değerlere kusursuz olarak bağlı kalarak; tüm bu güç güven ve istikrarla hareket etmenin gücümüze güç katacağına inanarak yaşarız. İstihdam ettiğimiz tüm personelimizin iş ve işçi sağlığına yüksek önem vererek rahat ve huzurlu bir ortam oluşturarak moral ve motivasyonlarını hat safhada tutmaya çalışmak ilkelerimizdendir.
                    </p>
                    <p class="card-text font-size-17">
                        Atmış olduğumuz her adımda yakaladığımız başarıları bir üst seviyeye çıkararak, Türkiye’de ve sektörümüz de daha önce yapılmamış hizmet politikalarımız ve çalışma süreçlerimiz ile örnek olmak.Dolayısıyla da paylaşımcı kimliğimiz ile bu yakaladığımız başarıların başlangıçtan sonuca kadar varan süreçleri diğerlerinin aksine talep eden herkese en ince ayrıntısına kadar anlatabilmektir. Kıraç Group birlikten kuvvet doğduğuna her zaman inanmıştır.
                    </p>
                    <p class="card-text font-size-17">
                        Kıraç Elektrik, sonuç ve çözüm odaklı yaptığı çalışmalar çerçevesinde sektöründe güven kaynağı olmayı başarmıştır.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>