
@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col lg-5 md-5 sm-5">
            <div class="card">
                <div class="card-body">
                    <div class="row header">
                        <div class="col lg-5 md-5 sm-5">
                            <h4>
                                Kıraç Elektrik
                            </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col lg-3 md-5 sm-5">

                            <h3>Genel Müdürlük</h3>
                            <p>
                                Destek ekibimiz hafta içi 08:30 – 18:30, Cumartesi ve Resmi Tatillerde 08:30 – 13:30 saatleri arasında destek vermektedir
                            </p>

                            <dl>
                                <dt>Ünvanı</dt>
                                <dd>Kıraç Elektrik İnş Müh San. Tic. Ltd. Şti.</dd>

                                <dt>Ticari Sicil Numarası</dt>
                                <dd>436165</dd>

                                <dt>Adres</dt>
                                <dd>
                                    Organize Sanayi Bölgesi, Şehitler Bulvarı No:21
                                    Eskişehir – Türkiye
                                </dd>

                                <dt>Telefon</dt>
                                <dd>
                                    +90 222 236 15 00
                                </dd>
                                <dt>Fax</dt>
                                <dd>
                                    +90 222 236 15 01
                                </dd>
                                <dt>Kayıtlı Elektronik Posta Adresi</dt>
                                <dd>
                                    kirac@kiracelektrik.com.tr
                                </dd>
                            </dl>

                        </div>
                        <div class="col lg-3 md-5 sm-5">
                            <h3>Şubelerimiz</h3>
                            <dl>
                                <dt>İstanbul Şube</dt>
                                <dd>Perpa Ticaret Merkezi A Blok K: 8 No : 754 Okmeydanı | Şişli – İstanbul</dd>
                                <dd>Tel : +90 212 320 79 04</dd>
                                <dd>Fax : +90 212 320 79 05</dd>
                                <dd>Mail : perpasatis@kiracelektrik.com.tr</dd>

                                <dt>Bursa Şube</dt>
                                <dd>Altınşehir Mahallesi Ata Bulvarı Gizemler Plaza 3</dd>
                                <dd>Tel : +90 224 443 45 26</dd>
                                <dd>Tel : +90 224 443 56 26</dd>
                                <dd>Fax : +90 224 443 09 26</dd>
                                <dd>Mail : bursabolge@kiracelektrik.com.tr</dd>

                                <dt>Eskişehir Şube</dt>
                                <dd>Kurtuluş Mahallesi Vatan Caddesi Köprü Konutları Apt No:111 h Eskişehir</dd>
                                <dd>Tel :+90 222 221 91 70</dd>
                                <dd>Fax : +90 222 234 81 07</dd>
                                <dd>Mail :: esk.sube@kiracelektrik.com.tr</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>