@model UoW.DOMAIN.Models.Cuzdan
@{
    ViewData["Title"] = "MyWallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string bakiye = string.Format("{0:c}", Model.Bakiye);
    string harcanan = string.Format("{0:c}", ViewBag.ToplamTutarIslem);
}


   <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">HESAP HAREKETLERİ</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("SellerDetail","Bayi",new { ID = ViewBag.ID })">Bayi Hesabı</a></li>
                            <li class="breadcrumb-item active">Hesap Hareketleri</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="text-muted font-weight-medium">Bakiye</p>
                                        <h4 class="mb-0">@bakiye</h4>
                                    </div>

                                    <div class="mini-stat-icon avatar-sm align-self-center rounded-circle bg-primary">
                                        <span class="avatar-title">
                                            <i class="bx bx-check-circle font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="text-muted font-weight-medium">Harcama Tutarı</p>
                                        <h4 class="mb-0 text-danger">-@harcanan</h4>
                                    </div>

                                    <div class="avatar-sm align-self-center mini-stat-icon rounded-circle bg-primary">
                                        <span class="avatar-title">
                                            <i class="bx bx-hourglass font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mini-stats-wid">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="text-muted font-weight-medium">Cüzdan Numarası</p>
                                        <h4 class="mb-0">@Model.CuzdanNo</h4>
                                    </div>

                                    <div class="avatar-sm align-self-center mini-stat-icon rounded-circle bg-primary">
                                        <span class="avatar-title">
                                            <i class="bx bx-package font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @{await Html.RenderPartialAsync("ProcessList", Model.ID);}
                    </div>
                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>


