@model UoW.DOMAIN.Models.HaberKategori
@{
    ViewData["Title"] = "InsertCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">KATEGORİ GÜNCELLE</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Yönetici Paneli</a></li>
                            <li class="breadcrumb-item active">Haber Kategorisi Güncelle</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-9">
                <div class="card overflow-hidden">
                    <div class="card-body pt-3">
                        <div class="p-3">
                            <h4 class="card-title">Haber Kategorisi Güncelleyin!</h4>
                            <p class="card-title-desc">
                                Haberlerinizi daha rahat yönetmek ve kullanmak için kategorilerinizi güncelleyin
                            </p>
                            <div class="p-2">

                                @using (Html.BeginForm("InsertNewsCategory", "Haber", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {


                                    <div class="form-group">
                                        <label for="username">Kategori Adı</label>
                                        @Html.TextBoxFor(x => x.HaberKategoriAdi, new { @class = "form-control", maxlength = "45", id = "username", autocomplete = "off", placeholder = "Haber Kategori adı giriniz..." })
                                        <label class="text-danger">@Html.ValidationMessageFor(x => x.HaberKategoriAdi)</label>
                                    </div>
                                    <div class="mt-3">
                                        <button id="btn_insert" onclick="insert_kategori()" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Haber Kategorisi Oluştur</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://admin.kiracelektrik.com.tr/files/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="https://admin.kiracelektrik.com.tr/files/assets/js/pages/form-element.init.js"></script>
    <script>

        $(document).ready(function () {
            setTimeout(function () {
                $('label[class=text-danger]').delay(500).fadeOut();
            }, 3000);
        });

        function insert_kategori() {
            window.setTimeout(function () {
                $("#btn_insert").attr("disabled", true);
            }, 500);
            var btn = document.getElementById("btn_insert");
            btn.innerText = "Haber Kategorisi Oluşturuluyor...";
        }
    </script>
}