@{
    ViewData["Title"] = "Error";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-success">Siparişiniz Tamamlandı</h1>
                <h4>Siparişiniz ile ilgili daha detaylı bilgi için sipariş kayıtlarınızı kontrol edin. Beklenmedik bir sorun veya durum karşısında bizimle ileitşime geçin</h4>
                <br />
                <h3>Geliştirici Modu</h3>
                <p>
                    Bu sayfada düzenleme yapmak istiyorsanız <strong>Yöneticinize</strong> başvurun ve onay alın
                </p>
            </div>
        </div>
    </div>
</div>
