@model UoW.DOMAIN.Models.SliderBannerItem
@{
    ViewData["Title"] = "InsertCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UoW.DOMAIN.Models.Slider slider = ViewBag.Slider as UoW.DOMAIN.Models.Slider;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">@slider.SliderName elemanını düzenle</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Yönetici Paneli</a></li>
                            <li class="breadcrumb-item active">Banner Elemanı Düzenle</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-9">
                <div class="card overflow-hidden">
                    <div class="card-body pt-3">
                        <div class="p-3">
                            <h4 class="card-title">Banner düzenle!</h4>
                            <p class="card-title-desc">
                                Bannerlarınızı daha rahat yönetmek ve kullanmak için eleman düzenleyin
                            </p>
                            <div class="p-2">
                                    @using (Html.BeginForm("SliderItemBannerUpdate", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-group">
                                            <img class="d-block img-fluid" src="https://bayi.kiracelektrik.com.tr/Files/Urun/@Model.ItemImage" alt="First slide">
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Banner Fotosu</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" accept="image/*" name="image" id="customFile">
                                                <label class="custom-file-label" for="customFile">Fotonuzu seçin</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="username">Eleman Adı</label>
                                            @Html.TextBoxFor(x => x.ItemName, new { @class = "form-control", maxlength = "100", id = "username", autocomplete = "off", placeholder = "Eleman adı düzenleyin..." })
                                        </div>

                                        <div class="form-group">
                                            <label for="username">Açıklama</label>
                                            @Html.TextAreaFor(x => x.ItemDesc, new { @class = "form-control", row = "5", maxlength = "500", id = "username", type = "text", cols = "40", placeholder = "Eleman açıklaması düzenleyin..." })
                                        </div>
                                        <div class="mt-3">
                                            <button id="btn_edit" onclick="banner_edit()" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Banner Güncelle</button>
                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/assets/js/pages/form-element.init.js"></script>
    <script>
        function banner_edit() {
            var btn = document.getElementById("btn_edit");
            btn.innerText = "Banner Güncelleniyor...";
        }
    </script>
}